<p id="notice"><%= notice %></p>

<div class="section">
	<div class="container">
		<% Food.all.each do |food| %>
    <% if food.hall_name == @hall.name %>
			<div class="card">
		  <div class="card-content">
		    <div class="media">
		      <div class="media-content">
		        <p class="title is-4"><%= link_to food.name, food  %></p>
		      </div>
		    </div>
		    <div class="description">
		     	<%= food.description %>
		    </div>
		    <div class="comment-count">
		    	<span class="tag is-rounded"><%= food.reviews.count %> comments</span>
		    </div>
		  </div>
		</div>
    <% end %>
		<% end %>
    <%= link_to 'Back', halls_path, class: "button is-small is-info" %>
	</div>
</div>
