<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hall.name %>
</p>

<h2>Menu</h2>
<% @hall.foods.each do |food| %>
  <p>
    <strong>Name:</strong>
    <%= food.name %>
  </p>

  <p>
    <strong>Description</strong>
    <%= food.description %>
  </p>

  <p>
    <strong>Rating:</strong>
     <p>FIX THIS!</p>
  </p>
<% end %>

<h2>Amenities</h2>
<% @hall.amenities.each do |amenity| %>
  <p>
    <strong>Name:</strong>
    <%= amenity.name %>
  </p>

  <p>
    <strong>Status:</strong>
     <%=amenity.status%>
  </p>
<% end %>


<%= link_to 'Edit', edit_hall_path(@hall) %> |
<%= link_to 'Back', halls_path %>
