<p id="notice"><%= notice %></p>





<section class="section">
	<div class="container">
		<div class="content">
      <h2> <%=@food.name%> </h2>
			<h3 ><%= @food.description %> </h3>
		</div>
	</div>
</section>

<div class="section">
	<div class="container">
<% @food.reviews.each do |review|%>
<div class="card">
<div class="card-content">
  <div class="media">
    <div class="media-content">
<p class='description'>
  <strong>User:</strong>
  <%= review.reviewer %>
</p>

<p class='description'>
  <strong>Rating:</strong>
  <%= review.rating %>
</p>

<p class='description'>
  <strong>Review:</strong>
  <%= review.review %>
</p>
<% end %>

<h2>Write a Review</h2>
<%= form_for([@food, @food.reviews.build]) do |f| %>


<div class="field">
  <div class="control">
  <%= f.label :reviewer %> <br />
  <%= f.text_field :reviewer, :value => current_user.name %>
</div>
</div>

  <div class="field">
    <div class="control">
  <%= f.label :review %> <br />
  <%= f.text_area :review%>
</div>
</div>

  <div class="field">
    <div class="control">
  <%= f.label :rating %> <br />
  <%= f.text_field :rating %>
</div>
</div>

<div class="field">
  <div class="control">
  <%= f.submit%>
</div>
</div>
<% end %>
